/basics/data/
/basics/.ipynb_checkpoints/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/pytorch_tutorials.iml
.idea/vcs.xml
/basics/data/*
basics/ants_and_bees/
basics/data/.DS_Store
